<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>
<body>
    <h1>Payment</h1>
    <div id="paypal-button-container"></div>
    <script>
        var x;
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    'AeiUaPNJ9conLMXDfQjqCysR4nYtigdEM56yGe_nOcgHEq3C97NoGitn1Z2zTOhYsCBxBcC7rOE2HiLm',
                production: '<insert production client id>'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '1.00', currency: 'USD' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {
                //Random confirmation code
                x = Math.floor((Math.random() * 9999) + 1);
                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete! Your Confirmation Code is: ' + x);
                });
            }

        }, '#paypal-button-container');

        function enterCode() {
            var option = parseInt(prompt("Please Enter the confirmation code you receieved from your order."));

            if (option === 1276 || option === 0000 || option === 1234 || option === x) {
                alert("Your item has been dispensed. Thank you!");
            }
            else {
                alert("Invalid code.");
            }
        }
    </script>
    <div>
        <h2>Confirmation Page</h2>

        <style type="text/css">
            #tbrole, .c {
                border: double;
            }
        </style>

        <p>Click the "Submit" button to Enter your confirmation code.</p>
        
        <button onclick="enterCode()">Submit</button>

        <p id="demo"></p>

        
    </div>

</body>